

.DS_Store
.Rhistory
Literature/*
analysis-outputs/*
data/*
long-term-literature/*
*.docx
writing/?*.docx
writing/?*.pdf
writing/?*.html
figures/
scripts/old-scripts/*
scripts/plots.Rmd
scripts/plot-time-series-and-avg-slopes.R
scripts/sample-data-frequency.R
presentations/*
writing/ER_White_ESA_abstract_2017.Rmd
scripts/detrend_time_series.R
scripts/estimate_model_params_and_simulate.R

writing/?*.aux
writing/?*.fdb*
writing/?*.fls
writing/?*.log
writing/manuscript_draft_files/*
writing/?*.bbl
writing/supp_mat_draft_files/*

Art_Time_Series_Data/

cleaned-data/old_data_outputs_do_not_use/*
*.Rapp.history
*.rtf
*.gz
